
#search-bar {
position: absolute;
top: 10px;
left: 10px;
z-index: 5;
}
#search-button {
position: absolute;
top: 10px;
left: 190px;
z-index: 5;
}

body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
